In [2]:
from shutil import copyfile
import pandas as pd

In [3]:
# dataset 1

df_ds1 = pd.read_csv('./train_pothole1.csv')
lst= list(df_ds1['path'].unique())
print(len(lst))
df_ds1

78

,Unnamed: 0,path,width,height,label,x,y,w,h
0,2976,./images/1_1000/511.jpg,1920,1080,9,1361.945996,953.269770,63.439024,77.530650
1,2977,./images/1_1000/511.jpg,1920,1080,9,987.311850,924.494335,89.149211,42.632578
2,8703,./images/1001_2000/1845.jpg,1920,1080,9,1088.784657,792.205742,60.434724,27.698565
3,9127,./images/1001_2000/1924.jpg,1920,1080,9,814.868102,837.851675,77.662180,16.502392
4,9200,./images/1001_2000/1952.jpg,1920,1080,9,1375.621803,892.110048,138.819650,56.980861
...,...,...,...,...,...,...,...,...,...
84,113867,./images/28001_29000/28339.jpg,1920,1080,9,668.434724,937.755981,141.403769,72.483254
85,113868,./images/28001_29000/28339.jpg,1920,1080,9,739.928668,860.244019,112.117093,75.928230
86,115935,./images/28001_29000/28861.jpg,1920,1080,9,1538.393976,851.424316,116.151478,33.727273
87,116413,./images/28001_29000/28951.jpg,1920,1080,9,1215.768309,922.939777,210.787591,63.608660
88,118915,./images/29001_30000/29638.jpg,1920,1080,9,1166.963048,866.995690,131.364896,46.304803

In [3]:
# copy files
# for i, path in enumerate(lst, 0):
#     file_name = lst[i].split('/')[3].strip()
#     copyfile(path, './data_pothole/ds1_{}'.format(file_name))

In [4]:
df_ds1['path'] = df_ds1['path'].apply(lambda x: './data_pothole/ds1_{}'.format(x.split('/')[3].strip()))
df_ds1.drop(columns=['Unnamed: 0'], inplace=True)
df_ds1

,path,width,height,label,x,y,w,h
0,./data_pothole/ds1_511.jpg,1920,1080,9,1361.945996,953.269770,63.439024,77.530650
1,./data_pothole/ds1_511.jpg,1920,1080,9,987.311850,924.494335,89.149211,42.632578
2,./data_pothole/ds1_1845.jpg,1920,1080,9,1088.784657,792.205742,60.434724,27.698565
3,./data_pothole/ds1_1924.jpg,1920,1080,9,814.868102,837.851675,77.662180,16.502392
4,./data_pothole/ds1_1952.jpg,1920,1080,9,1375.621803,892.110048,138.819650,56.980861
...,...,...,...,...,...,...,...,...
84,./data_pothole/ds1_28339.jpg,1920,1080,9,668.434724,937.755981,141.403769,72.483254
85,./data_pothole/ds1_28339.jpg,1920,1080,9,739.928668,860.244019,112.117093,75.928230
86,./data_pothole/ds1_28861.jpg,1920,1080,9,1538.393976,851.424316,116.151478,33.727273
87,./data_pothole/ds1_28951.jpg,1920,1080,9,1215.768309,922.939777,210.787591,63.608660
88,./data_pothole/ds1_29638.jpg,1920,1080,9,1166.963048,866.995690,131.364896,46.304803

In [5]:
df_ds1.to_csv('df_ds1.csv')

In [6]:
# dataset 2

df_ds2 = pd.read_csv('./train_pothole2.csv')
lst= list(df_ds2['path'].unique())
print(len(lst))
df_ds2

64

,Unnamed: 0,path,width,height,label,x,y,w,h
0,5494,./images/1001_2000/1727.jpg,1920,1080,9,1422.467264,1011.300551,87.332874,38.382353
1,6489,./images/2001_3000/2012.jpg,1920,1080,9,726.951724,905.045956,100.634483,39.954044
2,10259,./images/3001_4000/3133.jpg,1920,1080,9,1145.913163,937.182904,124.383184,37.058824
3,10260,./images/3001_4000/3133.jpg,1920,1080,9,1156.498966,912.035846,76.747071,27.670037
4,10270,./images/3001_4000/3138.jpg,1920,1080,9,968.600965,897.477022,48.959338,21.176471
...,...,...,...,...,...,...,...,...,...
77,97610,./images/29001_30000/29871.jpg,1920,1080,9,1334.327122,859.403374,62.277433,13.251534
78,97611,./images/29001_30000/29871.jpg,1920,1080,9,1503.933747,856.753067,64.927536,18.552147
79,99447,./images/30001_31000/30591.jpg,1920,1080,9,1081.075121,978.212316,103.211578,48.970588
80,99449,./images/30001_31000/30592.jpg,1920,1080,9,967.277739,938.506434,72.777395,23.823529
81,99450,./images/30001_31000/30592.jpg,1920,1080,9,981.833218,908.065257,23.818057,17.205882

In [7]:

# for i, path in enumerate(lst, 0):
#     file_name = lst[i].split('/')[3].strip()
#     copyfile(path, './data_pothole/ds2_{}'.format(file_name))
# #

In [8]:
df_ds2['path'] = df_ds2['path'].apply(lambda x: './data_pothole/ds2_{}'.format(x.split('/')[3].strip()))
df_ds2.drop(columns=['Unnamed: 0'], inplace=True)
df_ds2

,path,width,height,label,x,y,w,h
0,./data_pothole/ds2_1727.jpg,1920,1080,9,1422.467264,1011.300551,87.332874,38.382353
1,./data_pothole/ds2_2012.jpg,1920,1080,9,726.951724,905.045956,100.634483,39.954044
2,./data_pothole/ds2_3133.jpg,1920,1080,9,1145.913163,937.182904,124.383184,37.058824
3,./data_pothole/ds2_3133.jpg,1920,1080,9,1156.498966,912.035846,76.747071,27.670037
4,./data_pothole/ds2_3138.jpg,1920,1080,9,968.600965,897.477022,48.959338,21.176471
...,...,...,...,...,...,...,...,...
77,./data_pothole/ds2_29871.jpg,1920,1080,9,1334.327122,859.403374,62.277433,13.251534
78,./data_pothole/ds2_29871.jpg,1920,1080,9,1503.933747,856.753067,64.927536,18.552147
79,./data_pothole/ds2_30591.jpg,1920,1080,9,1081.075121,978.212316,103.211578,48.970588
80,./data_pothole/ds2_30592.jpg,1920,1080,9,967.277739,938.506434,72.777395,23.823529
81,./data_pothole/ds2_30592.jpg,1920,1080,9,981.833218,908.065257,23.818057,17.205882

In [9]:
df_ds2.to_csv('df_ds2.csv')

In [4]:
# dataset 3

df_ds3 = pd.read_csv('./train_pothole3.csv')
lst= list(df_ds3['path'].unique())
print(len(lst))
df_ds3

140

,Unnamed: 0,path,width,height,type,label,x,y,w,h
0,39271,./images/GH010227/GH010227.MP4#t=196.jpg,1920,1080,RECTANGLE,9,557.121388,842.068847,151.029313,91.538984
1,56405,./images/GH020010/GH020010.MP4#t=116.jpg,2704,1520,RECTANGLE,9,2478.972840,1149.811752,130.085678,88.207190
2,69709,./images/GH020106/GH020106.MP4#t=167.jpg,2704,1520,RECTANGLE,9,638.500750,926.091667,105.403298,34.453333
3,72312,./images/GH020164/GH020164.MP4#t=272.jpg,2704,1520,RECTANGLE,9,1434.734328,998.477756,161.432836,100.929615
4,76099,./images/GH020167/GH020167.MP4#t=392.jpg,2704,1520,RECTANGLE,9,1012.805654,1255.613208,263.711661,133.836478
...,...,...,...,...,...,...,...,...,...,...
149,244634,./images/GH090234/GH090234.MP4#t=380.jpg,1920,1080,RECTANGLE,9,1658.756401,711.295514,134.835406,43.537061
150,244773,./images/GH090234/GH090234.MP4#t=316.jpg,1920,1080,RECTANGLE,9,935.420629,697.251300,50.563277,21.066320
151,244933,./images/GH090234/GH090234.MP4#t=233.jpg,1920,1080,RECTANGLE,9,1773.928310,704.273407,116.576445,32.301691
152,249532,./images/GH100010/GH100010.MP4#t=641.jpg,2704,1520,RECTANGLE,9,1688.800568,1009.554924,147.770050,46.060606
153,250070,./images/GH100010/GH100010.MP4#t=329.jpg,2704,1520,RECTANGLE,9,2068.780696,1314.706439,178.475515,124.747475

In [11]:
# for i, path in enumerate(lst, 0):
#     file_name = lst[i].split('/')[3].strip()
#     copyfile(path, './data_pothole/ds3_{}'.format(file_name))

In [5]:
df_ds3['path'] = df_ds3['path'].apply(lambda x: './data_pothole/ds3_{}'.format(x.split('/')[3].strip()))
df_ds3.drop(columns=['Unnamed: 0'], inplace=True)
df_ds3.drop(columns=['type'], inplace=True)
df_ds3

,path,width,height,label,x,y,w,h
0,./data_pothole/ds3_GH010227.MP4#t=196.jpg,1920,1080,9,557.121388,842.068847,151.029313,91.538984
1,./data_pothole/ds3_GH020010.MP4#t=116.jpg,2704,1520,9,2478.972840,1149.811752,130.085678,88.207190
2,./data_pothole/ds3_GH020106.MP4#t=167.jpg,2704,1520,9,638.500750,926.091667,105.403298,34.453333
3,./data_pothole/ds3_GH020164.MP4#t=272.jpg,2704,1520,9,1434.734328,998.477756,161.432836,100.929615
4,./data_pothole/ds3_GH020167.MP4#t=392.jpg,2704,1520,9,1012.805654,1255.613208,263.711661,133.836478
...,...,...,...,...,...,...,...,...
149,./data_pothole/ds3_GH090234.MP4#t=380.jpg,1920,1080,9,1658.756401,711.295514,134.835406,43.537061
150,./data_pothole/ds3_GH090234.MP4#t=316.jpg,1920,1080,9,935.420629,697.251300,50.563277,21.066320
151,./data_pothole/ds3_GH090234.MP4#t=233.jpg,1920,1080,9,1773.928310,704.273407,116.576445,32.301691
152,./data_pothole/ds3_GH100010.MP4#t=641.jpg,2704,1520,9,1688.800568,1009.554924,147.770050,46.060606
153,./data_pothole/ds3_GH100010.MP4#t=329.jpg,2704,1520,9,2068.780696,1314.706439,178.475515,124.747475

In [6]:
df_ds3.to_csv('df_ds3.csv')

In [14]:
# dataset4
df = pd.read_csv('./train_df.csv')
lst = df['image_id'].unique()
print(len(df['image_id'].unique()))
df

1337

      image_id  num_potholes     x     y    w   h
0     G0010033             6  1990  1406   66  14
1     G0010033             6  1464  1442   92  16
2     G0010033             6  1108  1450   54  16
3     G0010033             6   558  1434  102  16
4     G0010033             6   338  1450   72  18
...        ...           ...   ...   ...  ...  ..
4587  G0348187             2   242  1642  156  42
4588  G0398363             3  2674  1722  156  44
4589  G0398363             3  1902  1614  118  52
4590  G0398363             3  1898  1550   74  30
4591  G0449113             1  2214  1626  158  80

[4592 rows x 6 columns]

In [15]:
# lst = df['image_id'].unique()

# temp=[]
# for i, name in enumerate(lst, 0):
#     try:
#         copyfile('./Positive_data/{}.JPG'.format(name), './data_pothole/ds4_{}.jpg'.format(name))
#     except:
#         temp.append(name)
#         continue

In [16]:
mask = df['image_id'].isin(temp)
df2 = df[~mask]

df2

NameError: name 'temp' is not defined

In [ ]:
df_ds4 = df2.rename(columns={'image_id': 'path'})

In [ ]:
df_ds4 = df_ds4.rename(columns={'num_potholes': 'bbox_count'})

df_ds4

In [ ]:
df_ds4['path'] = df_ds4['path'].apply(lambda x: './data_pothole/ds4_{}.jpg'.format(x))
df_ds4

In [ ]:
df_ds4.to_csv('df_ds4.csv')