In [1]:
import sys
import os

import pandas as pd
import numpy as np

from sklearn.model_selection import StratifiedKFold

In [53]:
df = pd.read_csv('./df_kaggle.csv')
df

,Unnamed: 0,Unnamed: 0.1,path,x,y,w,h
0,0,0,../input/pothole-end/train/ds1_511.jpg,1361.945996,953.269770,63.439024,77.530650
1,1,1,../input/pothole-end/train/ds1_511.jpg,987.311850,924.494335,89.149211,42.632578
2,2,2,../input/pothole-end/train/ds1_1845.jpg,1088.784657,792.205742,60.434724,27.698565
3,3,3,../input/pothole-end/train/ds1_1924.jpg,814.868102,837.851675,77.662180,16.502392
4,4,4,../input/pothole-end/train/ds1_1952.jpg,1375.621803,892.110048,138.819650,56.980861
...,...,...,...,...,...,...,...
4216,4216,3891,../input/road-pothole-images-for-pothole-detec...,242.000000,1642.000000,156.000000,42.000000
4217,4217,3892,../input/road-pothole-images-for-pothole-detec...,2674.000000,1722.000000,156.000000,44.000000
4218,4218,3893,../input/road-pothole-images-for-pothole-detec...,1902.000000,1614.000000,118.000000,52.000000
4219,4219,3894,../input/road-pothole-images-for-pothole-detec...,1898.000000,1550.000000,74.000000,30.000000
4220,4220,3895,../input/road-pothole-images-for-pothole-detec...,2214.000000,1626.000000,158.000000,80.000000

In [54]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,Unnamed: 0.1,path,x,y,w,h
0,0,../input/pothole-end/train/ds1_511.jpg,1361.945996,953.269770,63.439024,77.530650
1,1,../input/pothole-end/train/ds1_511.jpg,987.311850,924.494335,89.149211,42.632578
2,2,../input/pothole-end/train/ds1_1845.jpg,1088.784657,792.205742,60.434724,27.698565
3,3,../input/pothole-end/train/ds1_1924.jpg,814.868102,837.851675,77.662180,16.502392
4,4,../input/pothole-end/train/ds1_1952.jpg,1375.621803,892.110048,138.819650,56.980861
...,...,...,...,...,...,...
4216,3891,../input/road-pothole-images-for-pothole-detec...,242.000000,1642.000000,156.000000,42.000000
4217,3892,../input/road-pothole-images-for-pothole-detec...,2674.000000,1722.000000,156.000000,44.000000
4218,3893,../input/road-pothole-images-for-pothole-detec...,1902.000000,1614.000000,118.000000,52.000000
4219,3894,../input/road-pothole-images-for-pothole-detec...,1898.000000,1550.000000,74.000000,30.000000
4220,3895,../input/road-pothole-images-for-pothole-detec...,2214.000000,1626.000000,158.000000,80.000000

In [55]:
df['label']= 1
df

,Unnamed: 0.1,path,x,y,w,h,label
0,0,../input/pothole-end/train/ds1_511.jpg,1361.945996,953.269770,63.439024,77.530650,1
1,1,../input/pothole-end/train/ds1_511.jpg,987.311850,924.494335,89.149211,42.632578,1
2,2,../input/pothole-end/train/ds1_1845.jpg,1088.784657,792.205742,60.434724,27.698565,1
3,3,../input/pothole-end/train/ds1_1924.jpg,814.868102,837.851675,77.662180,16.502392,1
4,4,../input/pothole-end/train/ds1_1952.jpg,1375.621803,892.110048,138.819650,56.980861,1
...,...,...,...,...,...,...,...
4216,3891,../input/road-pothole-images-for-pothole-detec...,242.000000,1642.000000,156.000000,42.000000,1
4217,3892,../input/road-pothole-images-for-pothole-detec...,2674.000000,1722.000000,156.000000,44.000000,1
4218,3893,../input/road-pothole-images-for-pothole-detec...,1902.000000,1614.000000,118.000000,52.000000,1
4219,3894,../input/road-pothole-images-for-pothole-detec...,1898.000000,1550.000000,74.000000,30.000000,1
4220,3895,../input/road-pothole-images-for-pothole-detec...,2214.000000,1626.000000,158.000000,80.000000,1

In [56]:
# def revise_path(p):
#     folder = p.split('/')[2].strip()
#     file_name = p.split('/')[3].strip()
#     new_p = '/' + folder + '/' + file_name
#     return new_p 


# df['path'] = df['path'].apply(lambda x: revise_path(x))
# df

In [57]:
# df['x'] = df['x'].apply(lambda x: int(x))
# df['y'] = df['y'].apply(lambda x: int(x))
# df['w'] = df['w'].apply(lambda x: int(x))
# df['h'] = df['h'].apply(lambda x: int(x))

# df

In [58]:
# df['x'] = df['x'].apply(lambda x: float(x))
# df['y'] = df['y'].apply(lambda x: float(x))
# df['w'] = df['w'].apply(lambda x: float(x))
# df['h'] = df['h'].apply(lambda x: float(x))

# df

In [59]:
# df.to_csv('train_dataset2.csv')

In [60]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

df_folds = df[['path']].copy()
# 일단 박스 하나당 1이라는 index를 주어줌 (박스별로 나누기 위함)
df_folds.loc[:, 'bbox_count'] = 1

df_folds

                                                   path  bbox_count
0                ../input/pothole-end/train/ds1_511.jpg           1
1                ../input/pothole-end/train/ds1_511.jpg           1
2               ../input/pothole-end/train/ds1_1845.jpg           1
3               ../input/pothole-end/train/ds1_1924.jpg           1
4               ../input/pothole-end/train/ds1_1952.jpg           1
...                                                 ...         ...
4216  ../input/road-pothole-images-for-pothole-detec...           1
4217  ../input/road-pothole-images-for-pothole-detec...           1
4218  ../input/road-pothole-images-for-pothole-detec...           1
4219  ../input/road-pothole-images-for-pothole-detec...           1
4220  ../input/road-pothole-images-for-pothole-detec...           1

[4221 rows x 2 columns]

In [61]:
df_folds = df_folds.groupby('path').count()

df_folds

                                                    bbox_count
path
../input/pothole-end/train/ds1_10157.jpg                     1
../input/pothole-end/train/ds1_11292.jpg                     1
../input/pothole-end/train/ds1_13673.jpg                     1
../input/pothole-end/train/ds1_13825.jpg                     1
../input/pothole-end/train/ds1_13869.jpg                     1
...                                                        ...
../input/road-pothole-images-for-pothole-detect...           1
../input/road-pothole-images-for-pothole-detect...           2
../input/road-pothole-images-for-pothole-detect...           2
../input/road-pothole-images-for-pothole-detect...           3
../input/road-pothole-images-for-pothole-detect...           1

[1401 rows x 1 columns]

In [62]:
# df_folds에 label 축 생성
df_folds.loc[:, 'label'] = df[['path', 'label']].groupby('path').min()['label']

# df_folds['label'].unique()
df_folds

                                                    bbox_count  label
path
../input/pothole-end/train/ds1_10157.jpg                     1      1
../input/pothole-end/train/ds1_11292.jpg                     1      1
../input/pothole-end/train/ds1_13673.jpg                     1      1
../input/pothole-end/train/ds1_13825.jpg                     1      1
../input/pothole-end/train/ds1_13869.jpg                     1      1
...                                                        ...    ...
../input/road-pothole-images-for-pothole-detect...           1      1
../input/road-pothole-images-for-pothole-detect...           2      1
../input/road-pothole-images-for-pothole-detect...           2      1
../input/road-pothole-images-for-pothole-detect...           3      1
../input/road-pothole-images-for-pothole-detect...           1      1

[1401 rows x 2 columns]

In [63]:
df_folds.bbox_count.describe()

count    1401.000000
mean        3.012848
std         2.996399
min         1.000000
25%         1.000000
50%         2.000000
75%         4.000000
max        22.000000
Name: bbox_count, dtype: float64

In [64]:
 df_folds['bbox_count'].apply(lambda x: f'_{x // 3}').values.astype(str)

array(['_0', '_0', '_0', ..., '_0', '_1', '_0'], dtype='<U2')

In [65]:
# df_folds에 stratify_group 축 생성

# bbox_count는 한 이미지 내에 있는 전체 box의 갯수
# 만약 한 이미지내에 box의 갯수가 지나치게 많은 경우 라벨링을 1_0, 1_1, 1_2 ... 로 이중 라벨링을 매겨서 세분화 한 뒤 학습
# 실제로 GWD에서는 한 이미지에 박스가 매우 많았음
df_folds.loc[:, 'stratify_group'] = np.char.add(
    df_folds['label'].values.astype(str),
    df_folds['bbox_count'].apply(lambda x: f'_{x // 3}').values.astype(str)
)

# df_folds['stratify_group'].unique()

df_folds

,bbox_count,label,stratify_group
path,,,
../input/pothole-end/train/ds1_10157.jpg,1,1,1_0
../input/pothole-end/train/ds1_11292.jpg,1,1,1_0
../input/pothole-end/train/ds1_13673.jpg,1,1,1_0
../input/pothole-end/train/ds1_13825.jpg,1,1,1_0
../input/pothole-end/train/ds1_13869.jpg,1,1,1_0
...,...,...,...
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0345523.JPG,1,1,1_0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0345524.JPG,2,1,1_0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0348187.JPG,2,1,1_0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0398363.JPG,3,1,1_1
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0449113.JPG,1,1,1_0

In [66]:
# df_folds에 fold 축 생성
df_folds.loc[:, 'fold'] = 0

df_folds

,bbox_count,label,stratify_group,fold
path,,,,
../input/pothole-end/train/ds1_10157.jpg,1,1,1_0,0
../input/pothole-end/train/ds1_11292.jpg,1,1,1_0,0
../input/pothole-end/train/ds1_13673.jpg,1,1,1_0,0
../input/pothole-end/train/ds1_13825.jpg,1,1,1_0,0
../input/pothole-end/train/ds1_13869.jpg,1,1,1_0,0
...,...,...,...,...
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0345523.JPG,1,1,1_0,0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0345524.JPG,2,1,1_0,0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0348187.JPG,2,1,1_0,0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0398363.JPG,3,1,1_1,0
../input/road-pothole-images-for-pothole-detection/Dataset 1 (Simplex)/Dataset 1 (Simplex)/Train data/Positive data/G0449113.JPG,1,1,1_0,0

In [67]:
folds = [(idxT,idxV) for i,(idxT,idxV) in enumerate(skf.split(np.arange(df_folds.shape[0]), df_folds['stratify_group']))]
for i in range(5):
    (idxT,idxV) = folds[i]
    
    print(idxT)

[   0    1    2 ... 1397 1398 1399]
[   2    5    6 ... 1398 1399 1400]
[   0    1    2 ... 1397 1399 1400]
[   0    1    2 ... 1398 1399 1400]
[   0    1    3 ... 1396 1398 1400]

/home/kerrykim/anaconda3/envs/skku/lib/python3.9/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(

In [70]:
df_folds.to_csv('df_kaggle_fold.csv')

In [69]:
print(folds)

[(array([   0,    1,    2, ..., 1397, 1398, 1399]), array([   9,   15,   16,   20,   25,   26,   29,   31,   32,   34,   39,
         43,   45,   46,   47,   48,   67,   96,  102,  104,  106,  110,
        123,  134,  135,  140,  141,  143,  150,  151,  156,  161,  162,
        163,  168,  171,  177,  198,  200,  202,  210,  215,  228,  229,
        237,  239,  241,  254,  263,  268,  272,  273,  276,  277,  278,
        282,  290,  291,  292,  295,  300,  307,  314,  316,  318,  323,
        324,  328,  337,  341,  349,  350,  353,  356,  357,  362,  368,
        373,  379,  384,  387,  406,  412,  416,  417,  420,  421,  424,
        428,  432,  434,  441,  442,  445,  446,  451,  454,  456,  463,
        477,  479,  486,  493,  495,  499,  504,  505,  512,  515,  519,
        523,  529,  531,  533,  536,  537,  541,  550,  552,  557,  561,
        567,  570,  585,  593,  601,  602,  609,  619,  620,  623,  628,
        637,  639,  640,  651,  658,  659,  660,  666,  670,  672,  673,
        678,  681,  687,  695,  699,  704,  705,  709,  712,  713,  714,
        726,  728,  731,  732,  733,  736,  745,  748,  749,  756,  761,
        783,  785,  787,  788,  790,  793,  804,  810,  812,  829,  833,
        834,  836,  840,  842,  845,  850,  851,  852,  858,  860,  873,
        880,  881,  892,  895,  898,  904,  907,  908,  919,  942,  989,
        991,  994,  996,  998, 1001, 1003, 1006, 1011, 1019, 1024, 1038,
       1044, 1062, 1068, 1073, 1074, 1083, 1098, 1100, 1105, 1109, 1121,
       1126, 1127, 1129, 1130, 1133, 1134, 1147, 1148, 1149, 1150, 1153,
       1154, 1159, 1160, 1163, 1164, 1165, 1166, 1175, 1180, 1190, 1212,
       1219, 1231, 1235, 1237, 1243, 1246, 1254, 1257, 1261, 1266, 1271,
       1272, 1276, 1277, 1285, 1287, 1288, 1291, 1296, 1308, 1314, 1319,
       1335, 1338, 1341, 1346, 1355, 1357, 1362, 1373, 1374, 1376, 1378,
       1380, 1390, 1392, 1394, 1395, 1400])), (array([   2,    5,    6, ..., 1398, 1399, 1400]), array([   0,    1,    3,    4,   13,   19,   37,   38,   44,   50,   61,
         64,   74,   79,   85,   93,   95,   97,  105,  107,  112,  115,
        121,  126,  127,  133,  139,  142,  144,  148,  166,  169,  170,
        174,  176,  178,  199,  207,  208,  213,  219,  224,  226,  231,
        232,  234,  236,  245,  247,  250,  251,  252,  255,  259,  262,
        266,  270,  280,  298,  302,  303,  304,  309,  311,  319,  320,
        329,  332,  334,  335,  340,  343,  346,  355,  358,  359,  363,
        370,  374,  376,  382,  385,  388,  393,  401,  407,  408,  411,
        413,  435,  448,  449,  459,  464,  469,  473,  475,  481,  485,
        491,  494,  497,  498,  510,  517,  518,  522,  526,  527,  540,
        543,  544,  546,  549,  559,  560,  568,  571,  582,  583,  589,
        590,  594,  600,  603,  605,  607,  610,  615,  616,  622,  633,
        634,  635,  643,  649,  652,  662,  667,  671,  677,  684,  685,
        690,  697,  698,  703,  716,  720,  722,  724,  725,  727,  734,
        738,  742,  746,  750,  751,  757,  760,  763,  764,  773,  801,
        803,  809,  821,  830,  832,  843,  855,  862,  863,  868,  871,
        888,  890,  891,  897,  901,  902,  905,  910,  913,  914,  916,
        927,  938,  943,  949,  952,  957,  960,  964,  966,  967,  971,
        992,  997, 1000, 1004, 1013, 1025, 1028, 1030, 1035, 1036, 1037,
       1039, 1042, 1048, 1053, 1061, 1069, 1072, 1075, 1077, 1084, 1085,
       1087, 1088, 1096, 1106, 1108, 1114, 1131, 1132, 1136, 1139, 1142,
       1161, 1172, 1174, 1176, 1183, 1187, 1205, 1206, 1207, 1210, 1211,
       1220, 1225, 1227, 1229, 1236, 1244, 1250, 1260, 1263, 1265, 1267,
       1270, 1295, 1297, 1298, 1310, 1311, 1315, 1322, 1325, 1327, 1333,
       1334, 1342, 1345, 1348, 1353, 1354, 1358, 1360, 1363, 1364, 1369,
       1371, 1383, 1385, 1388, 1396])), (array([   0,    1,    2, ..., 1397, 1399, 1400]), array([   7,   10,   18,   23,   35,   41,   51,   53,   57,   58,   69,
         75,   78,   83,   84,   89,   91,   99,  108,  117,  118,  119,
        122,  124,  138,  145,  149,  154,  159,  160,  175,  185,  187,
        190,  193,  195,  197,  201,  204,  206,  212,  214,  216,  220,
        221,  222,  227,  230,  235,  238,  249,  253,  258,  261,  264,
        265,  275,  285,  286,  287,  294,  305,  306,  308,  310,  312,
        317,  321,  322,  325,  333,  344,  347,  351,  360,  361,  364,
        371,  375,  377,  378,  380,  386,  394,  395,  398,  403,  409,
        418,  419,  426,  429,  436,  443,  450,  480,  483,  484,  487,
        488,  489,  490,  492,  496,  507,  509,  511,  520,  521,  524,
        528,  563,  565,  566,  573,  577,  578,  580,  586,  587,  598,
        606,  608,  611,  613,  624,  632,  645,  648,  650,  654,  657,
        661,  668,  680,  691,  692,  693,  696,  700,  701,  706,  707,
        715,  717,  721,  730,  743,  771,  772,  789,  794,  798,  800,
        806,  808,  814,  815,  816,  824,  841,  847,  848,  853,  861,
        872,  875,  879,  889,  903,  906,  909,  915,  917,  920,  922,
        924,  935,  937,  940,  941,  947,  954,  956,  961,  962,  965,
        970,  972,  973,  974,  975,  988,  993,  999, 1005, 1020, 1029,
       1031, 1032, 1033, 1047, 1066, 1067, 1071, 1076, 1081, 1082, 1086,
       1090, 1093, 1094, 1095, 1097, 1099, 1101, 1103, 1104, 1116, 1124,
       1125, 1137, 1138, 1140, 1141, 1144, 1146, 1151, 1156, 1157, 1167,
       1168, 1171, 1179, 1185, 1189, 1191, 1194, 1197, 1201, 1208, 1215,
       1217, 1223, 1226, 1230, 1239, 1240, 1241, 1242, 1247, 1248, 1253,
       1255, 1269, 1283, 1289, 1293, 1294, 1300, 1303, 1305, 1307, 1323,
       1330, 1332, 1339, 1340, 1347, 1349, 1361, 1365, 1367, 1368, 1379,
       1381, 1382, 1387, 1389, 1398])), (array([   0,    1,    2, ..., 1398, 1399, 1400]), array([   5,    6,   11,   14,   17,   22,   27,   30,   36,   42,   49,
         52,   55,   59,   60,   63,   66,   68,   73,   76,   82,   86,
         87,   88,  100,  101,  103,  113,  114,  116,  128,  129,  130,
        132,  146,  147,  153,  157,  164,  167,  173,  179,  180,  188,
        191,  192,  209,  218,  240,  243,  244,  246,  248,  260,  283,
        293,  296,  299,  301,  313,  315,  326,  327,  338,  342,  348,
        354,  365,  366,  369,  383,  390,  399,  400,  402,  427,  430,
        439,  440,  444,  452,  453,  458,  460,  461,  462,  466,  468,
        470,  472,  474,  476,  478,  503,  514,  525,  530,  532,  535,
        539,  545,  547,  554,  556,  572,  575,  576,  584,  588,  591,
        592,  597,  599,  612,  614,  621,  625,  627,  630,  641,  644,
        646,  647,  653,  663,  665,  675,  676,  683,  686,  710,  711,
        723,  739,  740,  741,  747,  752,  754,  762,  765,  766,  768,
        770,  775,  781,  786,  792,  795,  796,  799,  802,  805,  813,
        827,  835,  837,  838,  839,  849,  857,  864,  865,  866,  867,
        870,  874,  878,  882,  884,  885,  887,  894,  899,  900,  921,
        923,  925,  928,  930,  932,  934,  945,  946,  950,  951,  953,
        958,  959,  976,  980,  983,  984,  986,  990,  995, 1002, 1007,
       1012, 1014, 1015, 1017, 1018, 1023, 1026, 1027, 1040, 1041, 1043,
       1046, 1049, 1050, 1052, 1054, 1055, 1056, 1057, 1058, 1063, 1070,
       1079, 1080, 1089, 1102, 1110, 1112, 1115, 1118, 1120, 1123, 1143,
       1145, 1152, 1158, 1170, 1184, 1193, 1198, 1199, 1202, 1203, 1209,
       1213, 1216, 1221, 1222, 1224, 1233, 1234, 1245, 1252, 1258, 1262,
       1268, 1278, 1280, 1281, 1282, 1299, 1301, 1306, 1312, 1313, 1316,
       1321, 1324, 1326, 1329, 1331, 1337, 1343, 1350, 1356, 1359, 1375,
       1377, 1384, 1386, 1391, 1393])), (array([   0,    1,    3, ..., 1396, 1398, 1400]), array([   2,    8,   12,   21,   24,   28,   33,   40,   54,   56,   62,
         65,   70,   71,   72,   77,   80,   81,   90,   92,   94,   98,
        109,  111,  120,  125,  131,  136,  137,  152,  155,  158,  165,
        172,  181,  182,  183,  184,  186,  189,  194,  196,  203,  205,
        211,  217,  223,  225,  233,  242,  256,  257,  267,  269,  271,
        274,  279,  281,  284,  288,  289,  297,  330,  331,  336,  339,
        345,  352,  367,  372,  381,  389,  391,  392,  396,  397,  404,
        405,  410,  414,  415,  422,  423,  425,  431,  433,  437,  438,
        447,  455,  457,  465,  467,  471,  482,  500,  501,  502,  506,
        508,  513,  516,  534,  538,  542,  548,  551,  553,  555,  558,
        562,  564,  569,  574,  579,  581,  595,  596,  604,  617,  618,
        626,  629,  631,  636,  638,  642,  655,  656,  664,  669,  674,
        679,  682,  688,  689,  694,  702,  708,  718,  719,  729,  735,
        737,  744,  753,  755,  758,  759,  767,  769,  774,  776,  777,
        778,  779,  780,  782,  784,  791,  797,  807,  811,  817,  818,
        819,  820,  822,  823,  825,  826,  828,  831,  844,  846,  854,
        856,  859,  869,  876,  877,  883,  886,  893,  896,  911,  912,
        918,  926,  929,  931,  933,  936,  939,  944,  948,  955,  963,
        968,  969,  977,  978,  979,  981,  982,  985,  987, 1008, 1009,
       1010, 1016, 1021, 1022, 1034, 1045, 1051, 1059, 1060, 1064, 1065,
       1078, 1091, 1092, 1107, 1111, 1113, 1117, 1119, 1122, 1128, 1135,
       1155, 1162, 1169, 1173, 1177, 1178, 1181, 1182, 1186, 1188, 1192,
       1195, 1196, 1200, 1204, 1214, 1218, 1228, 1232, 1238, 1249, 1251,
       1256, 1259, 1264, 1273, 1274, 1275, 1279, 1284, 1286, 1290, 1292,
       1302, 1304, 1309, 1317, 1318, 1320, 1328, 1336, 1344, 1351, 1352,
       1366, 1370, 1372, 1397, 1399]))]